/* body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  * {
    font-family: "Verdana", cursive, sans-serif;
    color: #ffffff;
  }
  
  body {
    background-color: #7cc6fe;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  } */
.question-diff{
    position:absolute;
    text-decoration: underline;
    font-weight: bolder;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: fit-content;
    background-color: aliceblue;
    left: 453px;
    border-radius: 25px;
    padding: 10px;
    
}
.quizz-app {
    background-color: #252d4a;
    width: 600px;
    min-height: 200px;
    height: 500px;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
    /* display: flex; */
    justify-content: space-evenly;
    position: relative;
    right: 250px;
}

.score-section {
    display: flex;
    font-size: 24px;
    align-items: center;
    color: #ffffff;
    align-items: center;
    text-align: center;
    position: relative;
    top: 200px;
    right: -150px;
}

/* QUESTION/TIMER/LEFT SECTION */
.question-section {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    height: fit-content;
}

.question-count {
    margin-bottom: 20px;
    color: #ffffff;
}

.question-count span {
    font-size: 28px;
}

.question-text {
    margin-bottom: 12px;
    width: 100%;
    color: #ffffff;
    justify-content: center;
    text-align: center;
    align-items: center;
    position: relative;
    top: 100px;
    right: 60px;
    font-size: 30px;
}

.timer-text {
    background: rgb(230, 153, 12);
    padding: 15px;
    margin-top: 20px;
    margin-right: 20px;
    border: 5px solid rgb(255, 189, 67);
    border-radius: 15px;
    text-align: center;
}

/* ANSWERS/RIGHT SECTION */
.answer-section {
    width: 100%;
    display: flex;
    height: fit-content;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    top: 200px;
    width: 100%;
}

.quizz-app button {
    width: 100%;
    font-size: 16px;
    color: #ffffff;
    background-color: #252d4a;
    border-radius: 15px;
    /* display: flex; */
    padding: 5px;
    justify-content: flex-start;
    align-items: center;
    border: 5px solid #234668;
    cursor: pointer;
    /* flex-direction: column; */
}

.correct {
    background-color: #2f922f;
}

.incorrect {
    background-color: #ff3333;
}

button:hover {
    background-color: #555e7d;
}

button:focus {
    outline: none;
}

button svg {
    margin-right: 5px;
}

.react-quiz-container {
    width: 500px;
    position: relative;
    right: 200px;
    height: 500px;
}

.nextbutton {
    position: relative;
    top: 250px;
}

.prevbutton {
    position: relative;
    top: 255px;
}