.App{
  background-color:#ADD8E6;
}
.image-capture {
  border-radius: 10px;
  position: absolute;
  top: 50px;
  right: 1240px;
}

.timer-wrapper {
  display: flex;
  margin-top: 5%;
  margin-right: 5%;
  justify-content: right;
  background-color:#ADD8E6;
}

.hide {
  display: none;
}