/* input {
	padding-left: 5px;
	padding-top: 19px;
	margin: 5px;
} */

.Course_Code,
.Question,
.tmarks {
	display: block;
	background: transparent;
	border-radius: 8px;
	color: #fff;
	margin-top: 10px;
	margin-bottom: 22px;
}

.container5 {
	position: relative;
	top: -60px;
	z-index: 0;
	width: 500px;
	height: 500px;
	color: white;
	margin: auto;
	padding: 30px;
	background: -webkit-linear-gradient(360deg, #1C1C1C 10%, #494949 360%);
	background: -moz-linear-gradient(360deg, #1C1C1C 10%, #494949 360%);
	background: linear-gradient(360deg, #1C1C1C 10%, #494949 360%);
	box-sizing: border-box;
	box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
	border-radius: 10px;
}

.container5 input {
	color: white;
	background-color: #1C1C1C;
}

.container7 {
	margin-top: 90px;
	display: flex;
	flex: 1 1 1 1;
}

.container4 {
	position: relative;
	top: 10px;
	left: 0%;
	z-index: 0;
	width: 600px;
	height: 600px;
	background: -webkit-linear-gradient(360deg, #1C1C1C 10%, #494949 360%);
	background: -moz-linear-gradient(360deg, #1C1C1C 10%, #494949 360%);
	background: linear-gradient(360deg, #1C1C1C 10%, #494949 360%);
	box-sizing: border-box;
	box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);

	border-radius: 5px;
	margin: auto;
	padding: 15px;
	justify-content: center;
	align-items: center;
	color: white;
}


.container4 input {
	color: white;
	background-color: #1C1C1C;
}

header {
	height: 80px;
}

.header-menu {
	font-size: 17px;
	line-height: 80px;
}

.header-menu li {
	position: relative;
	-webkit-transform: translateZ(0);
}

.header-menu-tab {
	background: transparent;
	border-radius: 10px;
	display: block;
	width: fit-content;
	/* margin: 10px; */
	top: -10px;
	position: relative;
	line-height: 74px;
	font-size: 17px;
	padding-right: 20px;
	padding-left: 20px;
	color: white;
}

.logout-tab {
	position: relative;
	right: -350px;
}

.header-menu-tab:hover {
	background-color: white;
	color: black;
}

.header-menu-tab .icon {
	padding-right: 15px;
}

.header-menu-number {
	position: absolute;
	line-height: 22px;
	padding: 0 6px;
	font-weight: 700;
	background: #e64c65;
	border-radius: 100%;
	top: 15px;
	right: 2px;
	-webkit-transition: all .3s linear;
	transition: all .3s linear;
}

.header-menu li:hover .header-menu-number {
	text-decoration: none;
	-webkit-transform: rotate(360deg);
	transform: rotate(360deg);

}

.profile-menu {
	float: right;
	height: 80px;
	padding-right: 20px;
	/* background-color: black; */
}

.profile-menu p {
	font-size: 17px;
	display: inline-block;
	line-height: 76px;
	margin: 0;
	padding-right: 10px;
}

.profile-menu a {
	padding-left: 5px;
}

.profile-menu a:hover {
	text-decoration: none;
}

.small-profile-picture {
	display: inline-block;
	vertical-align: middle;
	position: relative;
	top: -5px;
}

.block-institute {
	background: transparent;
	width: 100%;
	color: white;
}

.Questionno {
	border-radius: 0rem;
	display: block;
	border: none;
	margin-left: 0px;
}


.opt {
	display: inline-block;
	flex-direction: row;
	flex: 1 1 1;
	height: 55px;
	width: 171px;
	background: transparent;

}

.weightage {
	display: inline-block;
	flex-direction: row;
	flex: 1 1 1;
	width: 145px;
	height: 55px;
}



.institute-navbar-button {
	background: transparent;
	color: white;
	padding-bottom: 14px;
	font-size: 15px;
}

.institute-navbar-logo img {
	height: 60px;
	width: auto;
}

.institute-navbar-button:hover {
	background-color: black;
}

.bubbly-button2 {
	display: block;
	font-size: 1em;
	padding: 1em 2em;
	margin-left: 160px;
	align-items: center;
	background-color: #00008b;
	color: #fff;
	border-radius: 4px;
	border: none;
	cursor: pointer;
	position: absolute;
}

.bubbly-button3 {
	display: block;
	font-size: 1em;
	padding: 1em 2em;
	/* margin-top: 80px; */
	/* margin-bottom: 60px; */
	margin-left: auto;
	margin-right: auto;
	align-items: center;
	background-color: #00008b;
	color: #fff;
	border-radius: 4px;
	border: none;
	cursor: pointer;
	position: relative;
	top: -330px;
	/* right: 450px; */
}

.bubbly-button5 {
	display: block;
	font-size: 1em;
	padding: 1em 2em;
	/* margin-top: 80px; */
	/* margin-bottom: 60px; */
	margin-left: auto;
	margin-right: auto;
	align-items: center;
	background-color: #00008b;
	color: #fff;
	border-radius: 4px;
	border: none;
	cursor: pointer;
	position: relative;
	/* top: -330px; */
	/* right: 450px; */
}

.container6 {
	display: inline-block;
	margin: 10px;
	flex-direction: row;
	flex: 1 1 1 1;
	width: 140px;
	justify-content: center;
	align-items: center;
}

.container8 {
	position: relative;
	top: 10px;
	left: 0%;
	z-index: 0;
	width: 1000px;
	height: 600px;
	background: -webkit-linear-gradient(360deg, #1C1C1C 10%, #494949 360%);
	background: -moz-linear-gradient(360deg, #1C1C1C 10%, #494949 360%);
	background: linear-gradient(360deg, #1C1C1C 10%, #494949 360%);
	box-sizing: border-box;
	box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);

	border-radius: 5px;
	margin: auto;
	padding: 15px;
	justify-content: center;
	align-items: center;
	color: white;
}

.container8 input {
	background-color: #1C1C1C;
}

.radio_container {
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: #000000;
	width: 153px;
	height: 47px;
	border-radius: 9999px;
	box-shadow: inset 0.5px 0.5px 2px 0 rgb(0 0 0 / 15%);
}

.correct1,
.correct2,
.correct3,
.correct4 {
	display: inline-block;
	flex-direction: row;
	flex: 1 1 1 1;
	width: 140px;
}

input[type="radio"] {
	appearance: none;
	display: none;

}

.label1,
.label2,
.label3,
.label4 {
	font-family: "Open Sans", sans-serif;
	font-size: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: inherit;
	width: 67px;
	height: 40px;
	text-align: center;
	border-radius: 9999px;
	overflow: hidden;
	transition: linear 0.3s;
	color: #ffffffdd;
}

input[type="radio"]:checked+label {
	background-color: #1e90ff;
	color: #f1f3f5;
	font-weight: 900;
	transition: 0.3s;
}

input.opt {
	/* background: transparent; */
	background-color: #1C1C1C;
	border: none;
	color: white;
	max-width: 9.6em;
	margin-right: 18px;
	margin-bottom: 16px;
}

input.weightage {
	/* background: transparent; */
	background-color: #1C1C1C;
	border: none;
	color: white;
	max-width: 8em;
	margin-right: 10px;
	margin-bottom: 16px;
}

body {
	background: linear-gradient(150deg, #000000, #2c3b4f);
	background-attachment: fixed;
}

.profile-button {
	background: transparent;
	color: white;
	border-radius: 10px;
}

.profile-button:hover {
	background-color: white;
	color: black;
}

.opt2 {
	position: relative;
	right: -230px;
	top: -110px;
}

.opt3 {
	position: relative;
	right: -470px;
	top: -210px;
}

.opt4 {
	position: relative;
	right: -720px;
	top: -320px;
}

.select-question {
	background: transparent;
	/* width: 1000px; */
}

.select-question:hover {
	background: white;
	color: black;
}

/* .ant-picker-content th,
td {
	background-color: black;
	color: white !important;
} */

.ant-picker-content th,
td {
	background-color: black;
	color: white !important;
}

.ant-picker-input {
	background: transparent;
}

.institute-clock {
	background-color: white;
}