.landing-page {
	font-family: var(--font-family);
	padding: 1rem 1rem;
}

.landing-content {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	max-width: 45rem;
	gap: 2rem;
	margin: 5rem 0 0;
}

.landing-content .headings {
	display: flex;
	flex-direction: column;
}

.landing-content .headings .sub-text {
	font-weight: 600;
	font-size: 3.6rem;
	letter-spacing: -2px;
	color: var(--color-heading);
}

.landing-content .headings .main-heading {
	font-weight: 700;
	font-size: 3.8rem;
	letter-spacing: -2px;
}

.landing-content .desc {
	color: var(--color-text);
	font-size: 1.4rem;
}

.landing-cta {
	margin: 4rem 0 8rem;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 3rem;
}

.landing-cta .input-item {
	max-width: 35rem;
	min-width: 30rem;
	display: flex;
	align-items: center;
	gap: 2rem;
}

.landing-cta .desc {
	color: var(--color-text);
	font-weight: 600;
	font-size: 1rem;
}

/* LANDING SECTION - 2 */

.features-content {
	/* display: flex; */
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	/* padding: 4rem 2rem; */
	margin-top: 50%;
	height: 50vh;
}

.features-content .curr-heading {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1em;
}

.features-content p {
	font-size: 2rem;
}

.features-content h2 {
	font-size: 3rem;
}

.features-content .all-features {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 4rem 8rem;
}

.features-content .all-features .single-feature {
	font-size: 1.25rem;
	text-align: center;
}

.mid-cta .phew {
	font-size: 1rem;
	text-align: center;
	color: var(--color-text);
}

.features-content .mid-cta,
.final-features .mid-cta {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	gap: 3rem;
}

/* LANDING SECTION - 3 */

.final-features {
	margin-top: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 6rem 15rem;
	width: 100%;
}

.final-features .top-sec {
	display: grid;
	align-items: center;
	justify-content: center;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 4rem;
	margin: 2rem;
}

.final-features .top-sec .left-text,
.final-features .top-sec .right-text {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.final-features .top-sec .right-text {
	text-align: right;
}

.final-features .top-sec .left-text h3,
.final-features .top-sec .right-text h3 {
	font-weight: 500;
	font-size: 1.7rem;
}

.final-features .top-sec .left-text h1,
.final-features .top-sec .right-text h1 {
	font-weight: 600;
	font-size: 2.5rem;
}

.final-features .top-sec .infinite {
	display: flex;
	justify-content: center;
	align-items: center;
}

.final-features .top-sec .infinite img {
	width: 12rem;
}

.final-features .final-cta {
	margin: 5rem;
}

.section-fluid-main {
	position: relative;
	display: block;
	overflow: hidden;
	width: calc(100% - 0px);
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
	max-width: 100%;
	padding: 100px 0;
	margin-top: 27px;
	/* background-color: #ADD8E6; */
    /* background: linear-gradient(90deg, #fd8355 0%, #f0576c 37%, #f79cbd 100%); */
	background-color: #201e1e;
	/* background-image: url("../../../Images/Screenshot\ from\ 2023-01-28\ 00-55-21.png"); */
}

.section-row {
	/* margin-right: -15px;
	margin-left: -15px; */
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.section-row:hover .section-col:hover {
	opacity: 0.1;
}

.section-col {
	margin-top: 40%;
	/* color: red; */
	justify-content: center;
	text-align: center;
	align-items: center;
	display: flex;
	-ms-flex: 0 0 50%;
	flex: 0 0 50%;
	max-width: 25%;
	transition: opacity 250ms linear;
}

.image img {
	display: block;
	max-width: 17rem;
	max-height: 15rem;
	padding: 0.5rem;
	/* margin-top: 3rem; */
	border: 4px solid white;
	border-radius: 10%;
	transition: transform 250ms linear;
}
.features{
	position:absolute;
	color:white;
	top:625px;
	margin-left:49%;
}
.image {
	position: relative;
	display: block;
	width: 100%;
	overflow: hidden;
	border-radius: 24px;
	cursor: pointer;
}

.hover-text {
	position: fixed;
	color: white;
	top: 150px;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	z-index: 100;
	pointer-events: none;
	display: -webkit-inline-flex;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	-moz-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
	-ms-flex-pack: center;
	text-align: center;
	-ms-flex-item-align: center;
	align-self: center;
	mix-blend-mode: difference;
}

.hover-text h2 {
	font-family: 'Poppins', sans-serif;
	font-weight: 800;
	font-size: 3vw;
	line-height: 1;
	color: rgb(181, 231, 64);
	opacity: 0;
	transform: scale(0.8);
	transition: transform 250ms linear, opacity 250ms ease;
	z-index:100;
}

.section-col:hover+.hover-text h2 {
	opacity: 1;
	transform: scale(1);
}

@media (max-width: 767px) {
	.section-col {
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
	}

	.hover-text h2 {
		font-size: 12vw;
	}
}

.title-heading {
	position: absolute;
	top: 570px;
	left: 60px;
	text-decoration: underline;
	color: #EB9486;

}