@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Quicksand&display=swap');

/* html {
	scroll-behavior: smooth;
	 background: linear-gradient(#141e30, #243b55); 
	background-color: #ADD8E6;

} */



* {
	/* background: #121212;
	color: white; */
}

/* INPUT FIELDS CSS */
input {
	width: 100%;
	border: 1px solid var(--color-input-border);
	/* padding: 1rem 2rem; */
	border-radius: 0.5rem;
	font-family: Inter;
	font-size: 1rem;
	font-weight: 400;
	background-color: #F9F8F8;
	border-color: #EB9486;
	padding-left: 5px;
    padding-top: 19px;
}

input[type="text"] {
	background: transparent;
	border: none;
}

input[type="password"] {
	background: transparent;
	border: none;
}

/* input[type="radio"] {
	display: none;
} */

input:active,
input:focus {
	outline: none;
}

input:placeholder {
	color: var(--color-input-placeholder);
}

.Footer {
	text-align: center;
	position: relative;
	bottom: 0;
	width: 100%;
	height: 20px;
	/* background-color: #ADD8E6; */
	/* background: linear-gradient(#141e30, #243b55); */
	
}
/* .bqgiD {
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
    height: 32px;
} */

input[type="email"],input[type="number"]{
	color:white;
	background-color: black;
}
/* .No{
	color:white;
	background-color: black;
} */

.loading-screen{
	position: relative;
	top: 75px;
}

.section-row, .section-fluid-main {
	background: linear-gradient(150deg, #000000, #2c3b4f);
	background-attachment: fixed;
}