.Logincontainer {
	margin: -530px -250px;
	width: 484px;
	height: 545px;
	background-color: #F9F8F8;
	border-radius: 5px;
	color: #00008b;
}

.Login {
	width: 74%;
	margin-left: 12%;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.Login h1 {
	margin-top: 10px;
	padding: 10px;
	margin-bottom: 5px;
}

.EMailLogin {
	border-radius: 0rem;
	display: block;
	border: none;
	margin-left: 0px;
	border: none;
	/* width: 200%; */
}

.PasswordLogin {
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border: none;
}

.Alert h1 {
	color: red;
	margin-top: 123px;
	width: 399px;
	position: absolute;
	font-size: medium;
	/* margin-left: -308px; */
}

.LoginH1 {
	display: block;
	font-size: 2em;
	margin-block-start: 0.67em;
	margin-block-end: 0.67em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	font-weight: bold;
	position: relative;
	top: 20px;
}

.bubbly-button-login {
	display: block;
	font-size: 1em;
	padding: 1em 2em;
	margin-top: -10px;
	margin-bottom: 60px;
	margin-left: auto;
	margin-right: auto;
	background-color: #00008b;
	color: #fff;
	border-radius: 4px;
	border: none;
	cursor: pointer;
	position: absolute;
	top: -150px;
	right: -50px;
}

.selector-login1 {
	position: relative;
	display: flex;
	justify-content: space-around;
	border-radius: 9999px;
	top: 50px;
}

.selector1 {
	position: relative;
	display: flex;
	justify-content: space-around;
	border-radius: 9999px;
}

.selector-item1 {
	position: relative;
	flex-basis: calc(70% / 3);
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.selector-item_radio1 {
	appearance: none;
	display: none;

}

.selector-item_label1 {
	position: relative;
	height: 80%;
	width: 100%;
	padding: 9px;
	text-align: center;
	border-radius: 10px;
	transition-duration: .2s;
	transition-property: transform, color, box-shadow;
	transform: none;
	background-color: black;
	color: white;
}


.selector-item_radio1:checked+.selector-item_label1 {
	background-color: white;
	color: black;
}