.Logincontainer {
	margin: -545px -250px;
    width: 484px;
    height: 545px;
    background-color: #F9F8F8;
    border-radius: 5px;
    color: #00008b;
}

.Login {
	width: 74%;
	margin-left: 12%;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.Login h1 {
	margin-top: 10px;
	padding: 10px;
	margin-bottom: 5px;
}

.EMailLogin {
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}

.PasswordLogin {
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}