.container {
	position: absolute;
	top: 15%;
	left: 33.75%;
	z-index: 0;
	width: 490px;
	height: 550px;
	background-color: black;
	box-sizing: border-box;
	box-shadow: 0 15px 25px rgb(32, 32, 32);
	border-radius: 5px;
}

.SignUpBox {
	border-color: white;
	top: 50%;
	left: 50%;
	position: absolute;
	width: 75%;
	height: 100%;
	padding: 4px;
	align-items: center;
	text-align: center;
	transform: translate(-50%, -50%);
	color: white
}

.SignUpBox h1 {
	text-align: center;
	display: block;
	font-size: 2em;
	margin-block-start: 0.67em;
	margin-block-end: 0.67em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	font-weight: bold;
}

.AskLogin {
	position:absolute;
	top: 285px;
	/* right: 25px; */
	text-align: center;
	padding-top: 0.9rem;
	font-size: 1rem;
	color: #00008b;
}

.AskLogin button {
	background: none;
    border: none;
    /* margin: 0; */
    margin-top: -3.7rem;
    margin-left: 6rem;
    padding: 0;
    cursor: pointer;
    text-decoration: none;
    width: max-content;
}


.bubbly-button {
	display: block;
	font-size: 1em;
	padding: 1em 2em;
	margin-top: -10px;
	margin-bottom: 60px;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
	/* background-image: linear-gradient(90deg, #008cff, #6942ef); */
	/* background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,64,121,1) 7%, rgba(0,212,255,1) 100%); */
	color: black;
	border-radius: 4px;
	border: none;
	cursor: pointer;
	position: absolute;
	top: 450px;
	right: 115px;
}



.bubbly-button:hover {
	/* box-shadow: inset 0 0 0 4px rgb(132, 124, 255), 0 0 1px rgba(0, 0, 0, 0); */
}


/* Inputs CSS  */

.FirstLast {
	display: flex;
	/* width: 50rem; */
	align-items: center;
	justify-content: center;
}

.FirstLast input {
	border-bottom-right-radius: 0rem;
	border-bottom-left-radius: 0rem;
	background-color: black;
}

.FirstName {
	border-top-right-radius: 0rem;
	border: none;
	background-color: black;
}

.LastName {
	border-top-left-radius: 0rem;
	border: none;
	background-color: black;
}

.EMail {
	border-radius: 0rem;
	display: block;
	margin-left: 0px;
	width: 100%;
	border: none;
	background-color: black;
}

.Username {
	border-radius: 0rem;
	display: block;
	border: none;
	margin-left: 0px;
	background-color: black;
}

.mobile {
	border-radius: 0rem;
	display: block;
	margin-left: 0px;
	border: none;
	background-color: black;
}

.Password {
	border-radius: 0rem;
	background-color: black;
}

.ConfirmPassword {
	border-top-left-radius: 0rem;
	border-top-right-radius: 0rem;
	background-color: black;
}

.selector {
	position: relative;
	display: flex;
	justify-content: space-around;
	border-radius: 9999px;
}

.selector-item {
	position: relative;
	flex-basis: calc(70% / 3);
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.selector-item_radio {
	appearance: none;
	display: none;
}

.selector-item_label {
	position: relative;
	height: 80%;
	width: 100%;
	padding: 9px;
	text-align: center;
	border-radius: 10px;
	transition-duration: .2s;
	transition-property: transform, color, box-shadow;
	transform: none;
	background-color: black;
	color: white;
}

.selector-item_radio:checked+.selector-item_label {
	background-color: white;
	color: black;
}

@media (max-width:480px) {
	.selector {
		width: 90%;
	}
}

.ReEnter{
	color: red;
	font-size: 15px;
}
