/*.buttonedu {
    position: relative;
    display: flex;
    width: 200px;
    height: 50px;
    text-align: right;
    justify-content: center;
    padding-right: 50px;
    font-size: larger;
    margin-right: 100px;
    margin:20px;
}

.buttonedu span {
    padding-top: 10px;
    float: left;
}
.container9{
    position:relative;
    display:flex;
    flex-direction:column;
}
/* .sumimg1{
    /* display:flex;
    width:500px; }*/
    

.subimg1 img{
    display:block;
    margin:auto;
    align-items: center;
    border-radius: 100%;
    border:5px solid #2c3b4f;
    /* height: 250px; */
    margin-top: 1em;
    margin-bottom: 30px;
    width:200px;
    height:200px;
} 

.flexboxcontainer {
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:center;
    /* max-width: 100%; */
    /* flex-direction: column; */
}

.flexboxcontainer > div {
    width: 25%; /* or - flex: 0 50% - or - flex-basis: 50% - */
    /*demo*/
    box-shadow: 0 0 0 3px black;
    background: linear-gradient(360deg, #1C1C1C 10%, #494949 360%);
    border-radius: 10%;
    margin-bottom: 10px;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    margin:25px;
}

/* .buttonedu {
    align-items: center;
} */

.buttonedu {
    position: relative;
    display: flex;
    width: 200px;
    height: 50px;
    align-items: center;
    justify-content: center;
    font-size: larger;
    margin:20px;
    letter-spacing: 1.5px;
}

.buttonlink{
    display: flex;
    justify-content: center;
}

