.buttonedu {
    position: relative;
    display: flex;
    width: 200px;
    height: 50px;
    text-align: right;
    justify-content: center;
    padding-right: 50px;
    font-size: larger;
    margin-right: 100px;
    margin:20px;
}

.buttonedu span {
    padding-top: 10px;
    float: left;
}
.container9{
    position:relative;
    display:flex;
    flex-direction:column;
}
.sumimg1{
    display:flex;
    width:500px;
}
.subimg1 img{
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    border-radius: 50%;
    border:10px solid red;
    height: 250px;
    margin-bottom: 40px;
}