.subimg1 img {
    display: block;
    margin: auto;
    align-items: center;
    border-radius: 100%;
    border: 5px solid #2c3b4f;
    margin-top: 1em;
    margin-bottom: 30px;
    width: 200px;
    height: 200px;
}

.flexboxcontainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.flexboxcontainer>div {
    width: 25%;
    box-shadow: 10px 10px 42px 0px rgb(0 0 0 / 75%);
    background: linear-gradient(360deg, #1C1C1C 10%, #494949 360%);
    border-radius: 10%;
    margin-bottom: 10px;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    margin: 25px;
}

.buttonedu {
    position: relative;
    display: flex;
    width: 200px;
    height: 50px;
    align-items: center;
    justify-content: center;
    font-size: larger;
    margin: 20px;
    letter-spacing: 1.5px;
    background: transparent;
    color: white;
    border-radius: 10px;
    box-shadow: 10px 10px 42px 0px rgb(0 0 0 / 75%);

}

.buttonedu:hover {
    background-color: white;
    color: black;
}

.buttonlink {
    display: flex;
    justify-content: center;
}

.buttonlink a {
    text-decoration: none;
}