.graph-head{
    position: relative;
    top: -380px;
    width: 800px;
    color: red;
    background: transparent;
    border-radius: 5px;
    padding: 10px;
}

.text-heading{
    position: relative;
    top: -15px;
    right:-160px;
}