.landing-navbar-profile {
	display: flex;
	position: fixed;
	justify-content: space-between;
	align-items: center;
	padding: 0.8rem 3rem;
	font-family: var(--font-family);
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 12;
	background-color: var(--gradient-bg);
	backdrop-filter: blur(12px);
	border-bottom: 1px solid var(--color-input-border);
}

.landing-navbar-profile .landing-navbar-links-profile {
	gap: 0rem;
	display: flex;
	font-weight: 500;
	font-size: 1.1rem;
	margin: 0 4rem;
}

.landing-navbar-profile .landing-navbar-links-profile p {
	color: var(--color-navlinks);
	transition: 0.2s all ease;
	padding-right: 23px;
	padding-left: 25px;
	padding-top: 5px;
	;
	border-radius: 10px;
}

.landing-navbar-profile .landing-navbar-links-profile p:hover {
	color: #222;
	background-color: black;
}

.landing-navbar-logo-profile img {
	width: 75%;
}

.dropdown-profile {
	cursor: default;
	position: relative;
	top: -9px;
}

.dropdown-profile ul {
	display: none;
	background-color: black;
	color: white;
	padding: 16px;
	list-style: none;
	transition: all 15s ease;
	position: relative;
	left: -25px;
	border-radius: 10px;
}

.dropdown-profile ul li a {
	color: var(--grey);
	/* position: relative; */
}

.dropdown-profile ul li a:hover {
	color: var(--black);
}

.dropdown-profile ul li {
	margin: 8px;
}

.dropdown-profile:hover>ul {
	display: list-item;
	position: absolute;
	list-style: none;
	transition: all 0.5s ease;
}

.navbar-links-profile button {
	width: 75px;
	height: 50px;
	position: relative;
	top: -35px;
	background: transparent;
}

.profile-logout-button:hover {
	/* color: var(--black); */
	background: transparent;
}

.header-menu-tab-profile {
	background: transparent;
	border-radius: 10px;
	display: block;
	line-height: 74px;
	font-size: 17px;
	color: white;
	width: 120px;
}

.header-menu-tab-profile:hover {
	background-color: white;
	color: black;
}

.landing-navbar-logo img {
	width: 100%;
	position: relative;
	top: 10px;
}