.landing-navbar {
	display: flex;
	position: fixed;
	justify-content: space-between;
	align-items: center;
	padding: 0.8rem 3rem;
	font-family: var(--font-family);
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 12;
	background-color: var(--gradient-bg);
	backdrop-filter: blur(12px);
	border-bottom: 1px solid var(--color-input-border);
}

.landing-navbar .landing-navbar-links {
	gap: 0rem;
	display: flex;
	font-weight: 500;
	font-size: 1.1rem;
	margin: 0 4rem;
}

.landing-navbar .landing-navbar-links p {
	color: var(--color-navlinks);
	transition: 0.2s all ease;
	padding-right: 23px;
	padding-left: 25px;
	padding-top: 5px;
	;
	border-radius: 10px;
}

.landing-navbar .landing-navbar-links p:hover {
	color: #222;
	background-color: black;
}

.landing-navbar-logo img {
	width: 75%;
}

.dropdown {
	cursor: default;
	position: relative;
	top: -9px;
}

.dropdown ul {
	display: none;
	background-color: black;
	color: white;
	padding: 16px;
	list-style: none;
	transition: all 15s ease;
	position: relative;
	left: -25px;
	border-radius: 10px;
}

.dropdown ul li a {
	color: var(--grey);
	/* position: relative; */
}

.dropdown ul li a:hover {
	color: var(--black);
}

.dropdown ul li {
	margin: 8px;
}

.dropdown:hover>ul {
	display: list-item;
	position: absolute;
	list-style: none;
	transition: all 0.5s ease;
}

.landing-navbar-links button {
    width: 75px;
    height: 50px;
    position: relative;
    top: -35px;
    background: transparent;
}