/** Inspired by: http://graphicburger.com/flat-design-ui-components/ **/
/** Line-chart and donut-chart made by @kseso https://codepen.io/Kseso/pen/phiyL **/


/************************************ FONTS ************************************/
@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,700);
@import url(https://weloveiconfonts.com/api/?family=entypo|fontawesome|zocial);

/* entypo */
[class*="entypo-"]:before {
	font-family: 'entypo', sans-serif;
}

/* fontawesome */
[class*="fontawesome-"]:before {
	font-family: 'FontAwesome', sans-serif;
}

/* zocial */
[class*="zocial-"]:before {
	font-family: 'zocial', sans-serif;
}

@font-face {
	font-family: 'icomoon';
	src: url('https://jlalovi-cv.herokuapp.com/font/icomoon.eot');
	src: url('https://jlalovi-cv.herokuapp.com/font/icomoon.eot?#iefix') format('embedded-opentype'),
		url('https://jlalovi-cv.herokuapp.com/font/icomoon.ttf') format('truetype'),
		url('https://jlalovi-cv.herokuapp.com/font/icomoon.woff') format('woff'),
		url('https://jlalovi-cv.herokuapp.com/font/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
	font-family: 'icomoon';
	/* speak: none; */
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-cloudy:before {
	content: "\e60f";
}

.icon-sun:before {
	content: "\e610";
}

.icon-cloudy2:before {
	content: "\e611";
}

.line-chart {
	background-color: black;
}

.grafico {
	background-color: black;
}

.file-button {
	display: block;
	font-size: 1em;
	background-color: white;
	color: black;
	border-radius: 4px;
	border: none;
	cursor: pointer;
	position: relative;
	top: 25px;
	right: -80px;
	height: 35px;
	width: auto;

}

input[type="file"] {
	/* visibility: hidden;
	display: none; */
	height: 5px;
	width: 5px;
	top: -210px;
	right: -350px;
	position: relative;
}

/************************************* END FONTS *************************************/

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

ul {
	list-style-type: none;
	margin: 0;
	padding-left: 0;
}

h1 {
	font-size: 23px;
}

h2 {
	font-size: 17px;
}

p {
	font-size: 15px;
}

a {
	text-decoration: none;
	font-size: 15px;
}

a:hover {
	text-decoration: underline;
}

/* h1, h2, p, a, span{
	color: #fff;
} */
.scnd-font-color {
	color: #9099b7;
}

.input-container {
	position: relative;
}

/* input[type=text]{
		width: 260px;
		height: 50px;
		margin-left: 20px;
		margin-bottom: 20px;
		padding-left: 45px;
		background: #50597b;
		color: #fff;
		border: solid 1px #1f253d;
		border-radius: 5px;		
	} */
/* input[type=text]::-webkit-input-placeholder { 
	   	}
		input[type=text]:-moz-input-placeholder { 
	   		color: #fff;	   
	   	}
		input[type=text]::-moz-input-placeholder { 
	   		color: #fff;
	   	}
		input[type=text]:-ms-input-placeholder { 
	   		color: #fff;	   	
	   	}
	   	input[type=text]:focus {
	   		outline: none;
	   		border: 1px solid #11a8ab;
	   	} */
.input-icon {
	font-size: 22px;
	position: absolute;
	left: 31px;
	top: 10px;
}

.input-icon.password-icon {
	left: 35px;
}

.horizontal-list {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.horizontal-list li {
	float: left;
}

.clear {
	clear: both;
}

.icon {
	font-size: 25px;
}

.titular {
	display: block;
	line-height: 60px;
	margin: 0;
	text-align: center;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.button {
	display: block;
	width: 175px;
	line-height: 50px;
	font-size: 16px;
	font-weight: 700;
	text-align: center;
	margin: 0 auto;
	border-radius: 5px;
	-webkit-transition: background .3s;
	transition: background .3s;
}

.button:hover {
	text-decoration: none;
}

.arrow-btn-container {
	position: relative;
}

.arrow-btn {
	position: absolute;
	display: block;
	width: 60px;
	height: 60px;
	-webkit-transition: background .3s;
	transition: background .3s;
}

.arrow-btn:hover {
	text-decoration: none;
}

.arrow-btn.left {
	border-top-left-radius: 5px;
}

.arrow-btn.right {
	border-top-right-radius: 5px;
	right: 0;
	top: 0;
}

.arrow-btn .icon {
	display: block;
	font-size: 18px;
	border: 2px solid #fff;
	border-radius: 100%;
	line-height: 17px;
	width: 21px;
	margin: 20px auto;
	text-align: center;
}

.arrow-btn.left .icon {
	padding-right: 2px;
}

.profile-pic-upload {
	position: relative;
	justify-content: center;
	align-items: center;
	height: 150px;
	width: 150px;
	display: flex;
	top: 0px;
	right: 0px;
	/* background-position: 50% 50%; */
}

.profile-picture {
	border-radius: 100%;
	overflow: hidden;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	position: relative;
	top: 15px;
}

.big-profile-picture {
	margin: 0 auto;
	border: 5px solid #50597b;
	width: 150px;
	height: 150px;
}

.small-profile-picture {
	border: 2px solid #50597b;
	width: 40px;
	height: 40px;
}


/** MAIN CONTAINER **/

.main-container {
	font-family: 'Ubuntu', sans-serif;
	width: 100%;
	height: 100%;
	background-color: #201e1e;
	/* margin: 6em auto; */
}

/*********************************************** HEADER ***********************************************/


/** CONTAINERS **/
/* .container {
		float: left;
		width: 300px;
	} */
.block {
	margin-bottom: 25px;
	background: black;
	/* border-radius: 5px; */
	width: 100%;
	color: white;
}

/******************************************** LEFT CONTAINER *****************************************/


/******************************************
				DONUT-CHART by @kseso https://codepen.io/Kseso/pen/phiyL
				******************************************/


/******************************************
				END DONUT-CHART by @kseso https://codepen.io/Kseso/pen/phiyL
				******************************************/


/************************************************** MIDDLE CONTAINER **********************************/
.middle-container {
	margin: 0 25px;
}

.profile {
	height: 410px;
	top: +35px;
	border-radius: 6px;
	position: relative;
	right: -1100px;
	width: 400px;
}

.add-button .icon {
	float: right;
	line-height: 18px;
	width: 23px;
	border: 2px solid;
	border-radius: 100%;
	font-size: 18px;
	text-align: center;
	margin: 10px;
}

.add-button .icon:hover {
	color: #e64c65;
	border-color: #e64c65;
}

.user-name {
	margin: 25px 0 16px;
	text-align: center;
}

.profile-description {
	width: 210px;
	margin: 0 auto;
	text-align: center;
}

.profile-options {
	padding-top: 23px;
}

.profile-options li {
	border-left: 1px solid #1f253d;
}

.profile-options p {
	margin: 0;
}

.profile-options a {
	display: block;
	width: 99px;
	line-height: 60px;
	text-align: center;
	-webkit-transition: background .3s;
	transition: background .3s;
}

.profile-options a:hover {
	text-decoration: none;
	background: #50597b;
}

.profile-options a:hover.comments .icon {
	color: #fcb150;
}

.profile-options a:hover.views .icon {
	color: #11a8ab;
}

.profile-options a:hover.likes .icon {
	color: #e64c65;
}

.profile-options .icon {
	padding-right: 10px;
}

.profile-options .comments {
	border-top: 4px solid #fcb150;
}

.profile-options .views {
	border-top: 4px solid #11a8ab;
}

.profile-options .likes {
	border-top: 4px solid #e64c65;
}

.weather {
	height: 555px;
}

.weather .titular {
	background: #cc324b;
}

.weather .titular .icon {
	padding-right: 15px;
	font-size: 26px;
}

.weather .current-day {
	height: 135px;
	background: #e64c65;
}

.weather .current-day p {
	margin: 0;
	padding-left: 50px;
}

.current-day-date {
	font-size: 16px;
	padding-top: 16px;
}

.current-day-temperature {
	font-size: 70px;
}

.current-day-temperature .icon-cloudy {
	padding-left: 20px;
}

.weather .next-days {}

.weather .next-days p {
	margin: 0;
	display: inline-block;
	font-size: 16px;
}

.weather .next-days a {
	display: block;
	line-height: 58px;
	border-bottom: 1px solid #1f253d;
	-webkit-transition: background .3s;
	transition: background .3s;
}

.weather .next-days a:hover {
	background: #50597b;
}

.weather .next-days a:hover .day {
	color: #e64c65;
}

.weather .next-days-date {
	padding-left: 20px;
}

.weather .next-days-temperature {
	float: right;
	padding-right: 20px;
}

.weather .next-days-temperature .icon {
	padding-left: 10px;
}

.tweets {
	height: 375px;
}

.tweets .titular {
	background: #35aadc;
}

.tweets .titular .icon {
	font-size: 18px;
	padding-right: 20px;
}

.tweet.first {
	height: 150px;
	border-bottom: 1px solid #1f253d;
}

.tweet p:first-child {
	margin: 0;
	padding: 30px 30px 0;
}

.tweet p:last-child {
	margin: 0;
	padding: 15px 30px 0;
}

.tweet-link {
	color: #4fc4f6;
}

.middle-container .social {
	height: 205px;
	background: #1f253d;
}

.middle-container .social li {
	margin-bottom: 12px;
}

.middle-container .social a {
	line-height: 60px;
}

.middle-container .social a:hover {
	text-decoration: none;
}

.middle-container .social .titular {
	border-radius: 5px;
}

.middle-container .social .facebook {
	background: #3468af;
	-webkit-transition: background .3s;
	transition: background .3s;
}

.middle-container .social a:hover .facebook {
	background: #1a4e95;
}

.middle-container .social a:hover .icon.facebook {
	background: #3468af;
}

.middle-container .social .twitter {
	background: #4fc4f6;
	-webkit-transition: background .3s;
	transition: background .3s;
}

.middle-container .social a:hover .twitter {
	background: #35aadc;
}

.middle-container .social a:hover .icon.twitter {
	background: #4fc4f6;
}

.middle-container .social .googleplus {
	background: #e64c65;
	-webkit-transition: background .3s;
	transition: background .3s;
}

.middle-container .social a:hover .googleplus {
	background: #cc324b;
}

.middle-container .social a:hover .icon.googleplus {
	background: #e64c65;
}

.middle-container .social .icon {
	float: left;
	width: 60px;
	height: 60px;
	text-align: center;
	font-size: 20px;
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
}

.middle-container .social .icon.facebook {
	background: #1a4e95;
}

.middle-container .social .icon.twitter {
	background: #35aadc;
}

.middle-container .social .icon.googleplus {
	background: #cc324b;
}

/********************************************* RIGHT CONTAINER ****************************************/
.right-container {}

.join-newsletter {
	height: 230px;
}

.join-newsletter .titular {
	padding-top: 10px;
}

.subscribe.button {
	background: #11a8ab;
	margin-top: 10px;
}

.subscribe.button:hover {
	background: #0F9295;
}

.account {
	height: 390px;
}

.account .titular {
	padding: 10px 0;
}

.sign-in.button {
	background: #e64c65;
	margin: 10px auto;
}

.sign-in.button:hover {
	background: #cc324b;
}

.account p {
	text-align: center;
}

.fb-sign-in {
	margin-top: 28px;
	display: block;
	line-height: 50px;
	background: #3468af;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	-webkit-transition: background .3s;
	transition: background .3s;
}

.fb-sign-in:hover {
	background: #1a4e95;
	text-decoration: none;
}

.fb-sign-in .icon {
	line-height: 20px;
	font-size: 12px;
	padding-right: 3px;
}

.fb-border {
	display: inline-block;
	width: 23px;
	line-height: 20px;
	border: 2px solid #fff;
	border-radius: 100%;
	margin-right: 10px;
}

.loading {
	height: 200px;
	padding-top: 35px;
}

.loading p {
	display: inline-block;
	padding-left: 30px;
	margin: 5px 0 20px;
}

.loading .icon {
	padding-right: 15px;
}

.loading .percentage {
	float: right;
	padding: 6px 35px 0 0;
}

.loading .progress-bar {
	width: 250px;
	height: 20px;
	background: #50597b;
	border-radius: 5px;
	margin: 0 auto;
}

.progress-bar.downloading {
	background: -webkit-linear-gradient(left, #11a8ab 81%, #50597b 81%);
	/* Chrome10+,Safari5.1+ */
	background: -ms-linear-gradient(left, #11a8ab 81%, #50597b 81%);
	/* IE10+ */
	background: linear-gradient(to right, #11a8ab 81%, #50597b 81%);
	/* W3C */
}

.progress-bar.uploading {
	background: -webkit-linear-gradient(left, #4fc4f6 43%, #50597b 43%);
	/* Chrome10+,Safari5.1+ */
	background: -ms-linear-gradient(left, #4fc4f6 43%, #50597b 43%);
	/* IE10+ */
	background: linear-gradient(to right, #4fc4f6 43%, #50597b 43%);
	/* W3C */
}

.calendar-day {
	height: 320px;
	background: #3468af;
}

.calendar-day .titular {
	background: #1a4e95;
}

.calendar-day .arrow-btn:hover {
	background: #16417E;
}

.calendar-day .the-day {
	margin: 0;
	text-align: center;
	font-size: 146px;
}

.add-event.button {
	background: #4fc4f6;
}

.add-event.button:hover {
	background: #35aadc;
}

.calendar-month {
	height: 380px;
}

.calendar-month .titular {
	background: #3468af;
}

.calendar-month .arrow-btn:hover {
	background: #1a4e95;
}

.calendar {
	margin: 22px 15px;
	text-align: center;
}

.calendar a {
	font-size: 17px;
}

.calendar td,
.calendar th {
	width: 40px;
	height: 38px;
}

.calendar .days-week {
	color: #4fc4f6;
}

.calendar .today {
	display: block;
	width: 34px;
	line-height: 34px;
	background: #e64c65;
	border-radius: 100%;
}

.container3 {
	width: 300px;
}