.ranklist-container{
    position: relative;
    top: -700px;
    right:-550px;
    width: 500px;
    background-color: black;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: white;
}

.ranklist-wrapper th{
    width: 150px;
    color: white;
}