absl-py==1.2.0
anyio==3.6.1
attrs==22.1.0
cycler==0.11.0
fastapi==0.79.1
fonttools==4.36.0
h11==0.13.0
httptools==0.4.0
idna==3.3
kiwisolver==1.4.4
matplotlib==3.5.3
numpy==1.23.2
opencv-contrib-python==4.6.0.66
packaging==21.3
Pillow==9.2.0
protobuf==3.20.1
pydantic==1.9.2
pyparsing==3.0.9
python-dateutil==2.8.2
python-dotenv==0.20.0
PyYAML==6.0
six==1.16.0
sniffio==1.2.0
starlette==0.19.1
tflite_runtime==2.7.0
typing_extensions==4.3.0
uvicorn==0.18.2
watchfiles==0.16.1
websockets==10.3
