
.admin-dashboard {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2em;
	margin: 1.5rem;
}

.admin-dashboard .test-dashboard {
	/* display: flex; */
	/* flex-direction: row; */
	align-items: flex-start;
	justify-content: flex-start;
	gap: 2em;
	padding: 2rem;
	width: 100%;
}

.landing-navbar {
	/* color: aqua; */
	/* margin: auto; */
	/* padding: 50px; */
	/* border: 3px solid red; */
	margin-left: -33px;


}

.test-items {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 2rem;
	width: 80%;
}

.test-items .test-item {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 4rem;
}

.landing-navbar-logo {
	padding-right: 60%;
}