::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container1 {
  position: absolute;

  display: flex;
  flex-direction: column;
  /* position: relative; */
  width: 60%;
  height: 75%;
  /* background: #F9F8F8; */
  /* margin: 100px auto 0; */
  top: 15%;
  left: 10%;
  margin: auto;
  word-break: break-all;

  /* border: 1px solid rgba(0, 0, 0, 0.274); */
}

.container1 a {
  text-decoration: none;
  color: white;
}

.container1 a:hover {
  text-decoration: none;
  color: blue;
}

.bloc-tabs {
  display: flex;
  /* background-color: #EB9486; */
  border-radius: 50px;
  width: auto;
}

.tabs {
  padding: 15px;
  text-align: center;
  width: 50%;
  background: #353232;
  cursor: pointer;
  /* border-bottom: 1px solid rgba(0, 0, 0, 0.274); */
  box-sizing: content-box;
  position: relative;
  outline: none;
  font-size: 18px;
  /* color: #7E7F9A; */
  color: white;
  border-radius: 5px;
}

.tabs:not(:last-child) {
  /* border-right: 1px solid rgba(0, 0, 0, 0.274); */
}

.active-tabs {
  /* background: black; */
  background: -webkit-linear-gradient(360deg, #1C1C1C 10%, #494949 360%);
  background: -moz-linear-gradient(360deg, #1C1C1C 10%, #494949 360%);
  background: linear-gradient(360deg, #1C1C1C 10%, #494949 360%);
  /* border-bottom: 1px solid transparent; */
  font-size: 18px;
  color: white;
}

.active-tabs::before {
  content: "";
  display: block;
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% + 2px);
  height: 5px;
  background: red;
  /* background: -webkit-linear-gradient(360deg, #1C1C1C 10%, #494949 360%);
  background: -moz-linear-gradient(360deg, #1C1C1C 10%, #494949 360%);
  background: linear-gradient(360deg, #1C1C1C 10%, #494949 360%); */
  border-radius: 5px;
}



button {
  border: none;
}

.content-tabs {
  flex-grow: 1;
  border-radius: 50px;
}

.content {
  background: #201e1e;
  padding: 20px;
  width: 100%;
  height: 100%;
  display: none;
}

.content h2 {
  padding: 0px 0 5px 0px;
}

.content hr {
  width: 100px;
  height: 2px;
  background: #222;
  margin-bottom: 5px;
}

.content p {
  width: 100%;
  height: 100%;
}

.active-content {
  background-color: #201e1e;
  display: block;
}

.content table {
  height: 75%;
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 5px;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.content tr {
  /* border:10px #222 ; */
  /* background-color: black; */
  background: -webkit-linear-gradient(360deg, #1C1C1C 10%, #494949 360%);
  background: -moz-linear-gradient(360deg, #1C1C1C 10%, #494949 360%);
  background: linear-gradient(360deg, #1C1C1C 10%, #494949 360%);
  /* border-radius: 5px; */
  color: white;
}

tbody tr:nth-child(odd) {
  background-color: #222;
}

th {
  background-color: #1C1C1C;
  padding: 0.75rem;
  font-size: 0.9375rem;
  border-radius: 5px;
}

td {
  /* cell */
  padding: 0.75rem;
  font-size: 0.9375rem;
  /* background: -webkit-linear-gradient(360deg, #1C1C1C 10%, #494949 360%);
  background: -moz-linear-gradient(360deg, #1C1C1C 10%, #494949 360%);
  background: linear-gradient(360deg, #1C1C1C 10%, #494949 360%); */
}

td {
  /* body cell */
  color: white;
}