/* table {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;

    border-collapse: separate;
    border-spacing: 0;
}

tbody tr:nth-child(odd) {
    background-color: #ECE9E9;
}

th,
td {
    padding: 0.75rem;
    font-size: 0.9375rem;
}

th {
    font-weight: 700;
    text-align: left;
    color: #272838;
    border-bottom: 2px solid antiquewhite;

    position: sticky;
    top: 0;
    background-color: #EB9486;
}

td {
    color: #7E7F9A;
}

body {
    padding: 6rem 2rem;
    background-color: #F9F8F8;
}

.mytabs {
    width: 80%;
    margin-left: 10%;
    display: flex;
    flex-wrap: wrap;
}

.mytabs input[type="radio"] {
    display: none;
}

.mytabs label {
    padding: 25px;
    background: #EB9486;
}

.mytabs .tab{
    width: 100%;
    padding: 20px;
    order:1;
}
.mytabs input[type='radio'] :checked +label + .tab{
display:none;
}
.mytabs input[type='radio'] :checked +label{
    background-color: #EB9486;
    } */

::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  /* background: #EB9486; */
}

.container1 {
  position: absolute;
  
  display: flex;
  flex-direction: column;
  /* position: relative; */
  width: 60%;
  height: 75%;
  background: #F9F8F8;
  /* margin: 100px auto 0; */
  top: 15%;
  left: 10%;
  margin: auto;
  word-break: break-all;

  /* border: 1px solid rgba(0, 0, 0, 0.274); */
}

.bloc-tabs {
  display: flex;
  /* background-color: #EB9486; */
  border-radius: 50px;
}

.tabs {

  padding: 15px;
  text-align: center;
  width: 50%;
  background: #EB9486;
  cursor: pointer;
  /* border-bottom: 1px solid rgba(0, 0, 0, 0.274); */
  box-sizing: content-box;
  position: relative;
  outline: none;
  font-size: 18px;
  /* color: #7E7F9A; */

}

.tabs:not(:last-child) {
  /* border-right: 1px solid rgba(0, 0, 0, 0.274); */
}

.active-tabs {
  background: #F9F8F8;
  /* border-bottom: 1px solid transparent; */
  font-size: 18px;
  /* color: #222; */
}

.active-tabs::before {
  content: "";
  display: block;
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% + 2px);
  height: 5px;
  background: #EB9486;
  border-radius: 5px;
}



button {
  border: none;
}

.content-tabs {
  flex-grow: 1;
  border-radius: 50px;
}

.content {
  background: #F9F8F8;
  padding: 20px;
  width: 100%;
  height: 100%;
  display: none;
}

.content h2 {
  padding: 0px 0 5px 0px;
}

.content hr {
  width: 100px;
  height: 2px;
  background: #222;
  margin-bottom: 5px;
}

.content p {
  width: 100%;
  height: 100%;
}

.active-content {
  background-color: #F9F8F8;
  display: block;
}

.content table {
  height: 75%;
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 5px;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.content tr {
  /* border:10px #222 ; */
  background-color: #EB9486;
  /* border-radius: 5px; */
}

tbody tr:nth-child(odd) {
  background-color: #ECE9E9;
}

th,
td {
  /* cell */
  padding: 0.75rem;
  font-size: 0.9375rem;
}

td {
  /* body cell */
  color: #7E7F9A;
}