table {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;

    border-collapse: separate;
    border-spacing: 0;
}

tbody tr:nth-child(odd) {
    background-color: #ECE9E9;
}

th,
td {
    /* cell */
    padding: 0.75rem;
    font-size: 0.9375rem;
}

th {
    /* header cell */
    font-weight: 700;
    text-align: left;
    color: #272838;
    border-bottom: 2px solid antiquewhite;

    position: sticky;
    top: 0;
    background-color: #EB9486;
}

td {
    /* body cell */
    color: #7E7F9A;
}

/* demo stuff */
body {
    padding: 6rem 2rem;
    background-color: #F9F8F8;
}

.mytabs {
    width: 80%;
    margin-left: 10%;
    display: flex;
    flex-wrap: wrap;
}

.mytabs input[type="radio"] {
    display: none;
}

.mytabs label {
    padding: 25px;
    background: #EB9486;
}

.mytabs .tab{
    width: 100%;
    padding: 20px;
    order:1;
}