@import url("https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap");

.navtab {
  display: flex;
  justify-content: flex-start;
  position: sticky;
  margin: 0em;
}

.navtab a {
  font-family: "Lato", sans-serif;
  margin: 2em;
  text-decoration: none;
  color: rgb(29 161 242);
}

#logo {
  font-family: "Lato", sans-serif;
  margin: 1em;
  color: rgb(29 161 242);
}

#resultContainer {
  display: flex;
  min-width: 0;
  flex-direction: column;
  justify-content: center;
}

#percentText {
  display: block;
  font: "Lato", sans-serif;
  font-weight: 700;
  font-size: 8rem;
  text-align: center;
  margin: auto;
  animation: fade 1s ease 0s 1;
}

.dots {
  display: inline-block;
  background-color: rgb(29 161 242);
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  margin: 1rem;
  animation: scaling 1.5s infinite linear;
}

#inputContainer {
  display: flex;
  justify-content: center;
}

#input-box {
  font-size: 6vh;
  margin: 1em;
  background-color: rgb(211, 211, 211);
  outline: none;
  border: none;
  text-align: center;
  border-radius: 10px;
  animation: fade 1s ease 0s 1;
}

.banner {
  background-color: black;
}

#homepage {
  margin: 0;
  height: 100vh;
  text-align: center;
  background-image: url("../assets/home-bg.jpg"),
    linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  animation: fade 1s ease 0s 1;
}

#homepage h1 {
  margin: 0%;
  padding: 2.5em;
  font-size: 10vh;
  color: whitesmoke;
}

.twitter-page {
  margin: 0;
  height: 100vh;
  background-color: gray;
}

.about-page {
  height: 100vh;
  background-color: gray;
}

.members {
  list-style-type: none;
  margin: 2rem;
  font-size: 4vh;
  font-weight: 600;
  color: black;
}

#about-title {
  margin: 0;
  padding: 0.25em;
  font-size: 6vh;
  font-weight: 500;
  color: black;
}

@keyframes scaling {
  0%,
  100% {
    transform: scale(0.2);
  }
  50% {
    transform: scale(1);
  }
}

@keyframes fade {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

#positive {
  text-align: center;
  font-size: 8vh;
  font-weight: 600;
}

#load {
  display: flex;
  justify-content: center;
}

.dots:nth-child(0) {
  animation-delay: 0s;
}
.dots:nth-child(1) {
  animation-delay: 0.2s;
}
.dots:nth-child(2) {
  animation-delay: 1s;
}
