@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Quicksand&display=swap');

body,
html {
    font-family: 'Quicksand', sans-serif;
}

.Loading-Screen{
    position: absolute;
    right: 700px;
    top: 10px;
    z-index: 1;
}